<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 设置根日志级别为INFO -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        
        <!-- 针对特定包设置更详细的日志级别 -->
        <Logger name="com.lww.generator" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>